
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Fugaz One', cursive;
  font-weight: 500;
  color: white;
}

/* Styling to make the background image transparent */
body::after {
  background: url(../images/couch-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  opacity: 0.6;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

/* container holds all elements - styling here provides set width and centers everything inside */
#container {
  width: 1051px;
  margin: 100px auto 0 auto;
  text-align: center;
}

/* website heading style */
h1 {
  text-align: center;
  color: #f93276;
  font-size: 50px;
  -webkit-text-stroke: 0.5px #9e0c3f;
}

/* styling for main playing board */
#board {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-spacing: 0px;
  vertical-align: top;
  right: 20vw;
  background-color: #59e64ae6;
  display: inline-table;
  border-radius: 50px;
  border-collapse: collapse;
  border-style: hidden;
}

/* styling for each cell in the board as well as text within*/
#board tr td {
  border: 3px solid #2517f3;
  width: 33%;
  height: 33%;
  font-size: 50px;
}

/* when hovering over a cell, highlight it with short transition */
#board tr td:hover {
  background-color: #ffeb3bfa;
  transition: 1.5s all;
}

/* class for the boards to each side of main table - symbol and scoreboard  */
.board-style {
  font-size: 25px;
  display: inline-block;
  width: 200px;
  margin-left: 45px;
  margin-right: 45px;
  background-color: #f44336eb;
  vertical-align: middle;
  border: 3px solid turquoise;
  padding-left: 10px;
  padding-right: 10px;
}

/* center tables within the div square for each of the boards the left and right of the main table */
.board-style table {
  margin: 0 auto;
}

/* set height of each cell in the tables for the boards to the left and right of the main table to make room for the size of the text / emojis put in by javascript */
#scoreboard td {
  height: 73px;
}

#show-player-symbols td {
  height: 73px;
}

/* set the width specifically for the cells in the second column of each side table to make room for the text / emojis put in by javascript - prevents column 1 from being re-configured once something goes into the cells in column 2*/
.jsinput-display {
  width: 50px;
}

/* styling for the titles in the boards to the left and right of the main table*/
.board-title {
  margin: 20px 5px 5px 5px;
  font-size: 28px;
  text-align: center;
  text-decoration: underline;
}

/* set font size for the emojis that show each player's symbol in the symbol side board */
#player1-symbol-display, #player2-symbol-display {
  font-size: 50px;
}

/* styling for the first banner that pops up which prompts you to pick a symbol and shows instructions*/
#symbol-picker {
  position: absolute;
  text-align: center;
  height: 233px;
  width: 490px;
  top: 38%;
  left: 50%;
  margin-left: -245px;
  background-color: #5e37fbd9;
  border-radius: 10px;
}

/* specific styling for the instructions text - different font and size*/
#instructions {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;;
}

/* styling for the buttons to choose your symbol  */
#x-button, #o-button{
  width: 75px;
  height: 65px;
  font-family: 'Cinzel', serif;
  font-size: 50px;
  border: none;
  border-radius: 50px;
  background-color: none;
}

/* change the background color of the buttons to choose symbol on hover */
#x-button:hover {
  background-color: #ff4082c7;
}

#o-button:hover {
  background-color: #ff4082c7;
}


/* class to make different elements invisible when assigned in JS */
.invisible {
  display: none;
}

/* styling for the banner that shows in the event of a draw */
.cats-game-over {
  display: block;
  background-color: #ce1fec;
  border: 3px solid #f5bcff;
  color: white;
  position: absolute;
  left: 50%;
  margin-left: -238.50px;
  top: 46%;
  width: 477px;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
}

/* styling for the banner that shows in the event of a win */
.banner-over {
  display: block;
  color: white;
  position: absolute;
  left: 50%;
  margin-left: -238.50px;
  top: 32%;
  background-image: url("../images/winning-banner.gif");
  background-repeat: no-repeat;
  width: 477px;
  height:206px;
  line-height: 300px;
  text-align: center;
  transition-delay: 4s;
}

/* styling for the text in the win banner that announces which player won */
.banner-over p {
  font-size: 30px;
  font-style: arial;
  color: #f4bcff;
  text-align: center;
   -webkit-text-stroke: 2.5px #f83278;
}

/* styling for the div that holds the win banner */
#winner-banner {
  border-radius: 20px;
}

/* styling for the div that holds the play again button */
#play-again {
  text-align: center;
  margin: 0 auto;
}

/* styling for the  play again button itself*/
#play-again button {
  width: 245px;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 71%;
  right: 44%;
  background-color: #ffeb3b;
}

/* styling for the symbol that follows the cursor during game play */
#cursor-symbol {
  position: absolute;
  left: 48%;
  right: 52%;
  top: 44%;
  bottom: 56%;
  font-size: 50px;
  margin: 5px;
}

/* code for play again button animation */
.cssload-loader {
	width: 244px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:18px;
	color: #f93276;
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: #f93276;
	position: absolute;
	animation: cssload-load 0.81s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}

@keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}
